# Ignore everything
*

# But don't ignore directories (so we can traverse them to find .cpp and .h files)
!*/

# Don't ignore .cpp files
!*.cpp

# Don't ignore .h files
!*.h

# Don't ignore .gitignore itself
!.gitignore

# Ignore build output directory
out/build/debug/
